body {
  background-color:;
}

#main {
  background-color: grey;
  width: 960px;
  margin: 0 auto;
}

#header {
  background-color: purple;
}
#middle {
  background-color: pink;
}
#footer {
  background-color: green;
}
#left {
  width: 450px;
  float: left;
  display: inline-block;
}
#right {
  width: 450px;
  display: inline-block;
}
#big-pic {
  display:block;
  margin: 0 auto;
}

#ingredients {
  margin: 0 auto;
  width: 900px;
  background-image: url("images/list-bg.png");;
}

#girl {
  width: 900px;
  margin: 0 auto;
  background-color: white;
}

#girl img {
  float: left;
}
