body {
  background-color:;
}

#main {
  background-color: grey;
  width: 960px;
  margin: 0 auto;
}

#header {
  background-color: purple;
}
#middle {
  background-color: pink;
}
#footer {
  background-color: green;
}
#left {
  background-color: orange;
  width: 480px;
  float: left;
  display: inline-block;
}
#right {
  background-color: blue;
  width: 480px;
  display: inline-block;
}
#big-pic {
  display:block;
  margin: 0 auto;
}
